{% extends 'base.html' %}

{% block content %}
<section id="hero-section-map">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 mx-auto text-center">
        <h2>All Users Map</h2>
      </div>
    </div>
  <div class="arrow-down"></div>
</section>

<section id="map-section">
  <div class="container-fluid">

    {% if user_data %}
      <div id="map" class="my-2" style="height: 500px; width: 100%;"></div>
    {% else %}
      <p>No user locations found.</p>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block scripts %}

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Custom Script -->
{% if user_data %}
<script type="text/javascript">
  $(document).ready(function() {
    // Create Leaflet instance
    var map = L.map('map').setView([0, 0], 1.5);

    // Add OpenStreetMap layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);

    // Add markers for each user
    var markers = [];
    {% for user in user_data %}
      var popupContent = '<div class="user-card">'
      if ("{{ user.profile_picture }}") {
        popupContent += '<img src="{{ user.profile_picture }}" alt="{{ user.name }}" class="profile-image">'
      }
      popupContent += '<h5><a href="{{ user.url }}">{{ user.name }}</a></h5>'
      if ("{{ user.profession }}") {
        popupContent += '<p>{{ user.profession }}</p>'
      }
      if ("{{ user.bio }}") {
        popupContent += '<p>{{ user.bio }}</p>'
      }
      popupContent += '</div>'
      var marker = L.marker([{{ user.lat }}, {{ user.lng }}])
        .bindPopup(popupContent)
        .addTo(map);
      markers.push(marker);
    {% endfor %}

    // Fit map to markers
    var group = new L.featureGroup(markers);
    map.fitBounds(group.getBounds(), { padding: [70, 70] });

    // Resize map on window resize
    window.onresize = function() {
      map.invalidateSize();
    }
  });
</script>
{% endif %}
{% endblock %}
