{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <section id="home-reho" class="jumbotron text-center">
    <div class="container">
      <h1>Welcome to Our Portfolio Site</h1>
      <p class="lead">We are a team of professionals dedicated to providing high-quality services to our clients. Our mission is to deliver top-notch solutions that meet the needs of our clients and exceed their expectations. We specialize in web development, data analysis, and GIS applications. With years of experience and a deep understanding of the latest technologies, we are committed to delivering results that make a difference.</p>
      <p>

        {% if request.user.is_authenticated %}
          <a class="btn btn-primary my-2" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
          <a class="btn btn-secondary my-2" href="{% url 'map:map' %}">{% translate "Users Map" %}</a>

          <hr class="dropdown-divider">

        {% else %}
          {% if ACCOUNT_ALLOW_REGISTRATION %}
          <a href="{% url 'account_signup' %}" class="btn btn-primary my-2">{% translate "Sign Up" %}</a>
          {% endif %}
          <a href="{% url 'account_login' %}" class="btn btn-secondary my-2">{% translate "Sign In" %}</a>
        {% endif %}

      </p>
    </div>
  </section>

  <div class="container">
    {% if banner %}
      <div class="row my-4">
        <div class="col-md-12">
          <a href="{{ banner.link }}">
            <img src="{{ banner.image.url }}" class="img-fluid" alt="Banner">
          </a>
        </div>
      </div>
    {% endif %}

    <div class="row mt-4">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p class="lead">At our core, we believe that technology should be used to make people's lives easier. That's why we are passionate about creating user-friendly applications that solve real-world problems. We pride ourselves on being approachable, transparent, and responsive to our clients' needs. Whether you need a custom web application, a data-driven dashboard, or a GIS solution, we have the expertise to make it happen.</p>
      </div>
      <div class="col-md-6">
        <h2>Our Services</h2>
        <p class="lead">We offer a wide range of services to help you achieve your goals. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat, enim et tempor accumsan, lorem urna interdum dolor, non vulputate augue ex non massa.</p>
      </div>
    </div>
  </div>
{% endblock %}
