{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  <header class="text-center text-white bg-primary masthead">
    <div class="container"><img class="img-fluid d-block rounded-circle profile-pic mx-auto mb-5" src="{{ request.user.profile_picture.url }}">
        <h1>{{ request.user.name }}</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
    </div>
  </header>

  {% if request.user.projects %}
  <section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/portfolio/cabin.png">
                </a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/portfolio/cake.png">
                </a></div>
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/portfolio/circus.png">
                </a></div>
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/portfolio/game.png">
                </a></div>
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/portfolio/safe.png">
                </a></div>
            <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
                    <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                        <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/portfolio/submarine.png">
                </a></div>
        </div>
    </div>
  </section>
  {% endif %}

  {% if object.bio != "" %}
  <section class="text-white bg-primary mb-0" id="about">
      <div class="container">
          <h2 class="text-uppercase text-center text-white">About</h2>
          <hr class="star-light mb-5">
          <div class="row">
              <div class="col-lg-4 ms-auto">
                  <p class="lead">{{ object.bio }}</p>
              </div>
              <div class="col-lg-4 me-auto">
                  <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
              </div>
          </div>
          {% if request.user.projects %}
          <div class="text-center mt-4"><a class="btn btn-outline-light btn-xl" role="button" href="#"><i class="fa fa-download me-2"></i><span>Download Now!</span></a></div>
          {% endif %}
        </div>
  </section>
  {% endif %}

  <section id="contact">
      <div class="container">
          <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
          <hr class="star-dark mb-5">
          <div class="row">
              <div class="col-lg-8 mx-auto">
                  <form id="contactForm" name="sentMessage" novalidate="novalidate">
                      <div class="control-group">
                          <div class="mb-0 form-floating controls pb-2"><input class="form-control" type="text" id="name" required="" placeholder="Name"><label class="form-label">Name</label><small class="form-text text-danger help-block"></small></div>
                      </div>
                      <div class="control-group">
                          <div class="mb-0 form-floating controls pb-2"><input class="form-control" type="email" id="email" required="" placeholder="Email Address"><label class="form-label">Email Address</label><small class="form-text text-danger help-block"></small></div>
                      </div>
                      <div class="control-group">
                          <div class="mb-0 form-floating controls pb-2"><input class="form-control" type="tel" id="phone" required="" placeholder="Phone Number"><label class="form-label">Phone Number</label><small class="form-text text-danger help-block"></small></div>
                      </div>
                      <div class="control-group">
                          <div class="mb-5 form-floating controls pb-2"><textarea class="form-control" id="message" required="" placeholder="Message" style="height: 150px;"></textarea><label class="form-label">Message</label><small class="form-text text-danger help-block"></small></div>
                      </div>
                      <div id="success"></div>
                      <div><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                  </form>
              </div>
          </div>
      </div>
  </section>

{% if object == request.user %}
<div class="row">

<!-- End Action buttons -->
{% endif %}

{% endblock content %}
